@import "tailwindcss";

@theme {
  --color-primary: #0f172a;
  --color-secondary: #1e293b;
  --color-accent: #38bdf8;
  --color-success: #22c55e;
  --color-danger: #ef4444;
}

body {
  background-color: var(--color-primary);
  color: white;
}