@import "tailwindcss";

@theme {
  --color-primary: #000000;
  --color-secondary: #0f0f0f;
  --color-accent: #00C805;
  --color-success: #00C805;
  --color-danger: #ef4444;
}

body {
  background-color: var(--color-primary);
  color: white;
}